/* Adjectives */
.JJ, .JJR, .JJS {
    color: red;
}

/* Adverbs */
.RB, .RBR, .RBS, .WRB {
    color: deeppink;
}

/* Conjunctions */
.CC {
    color: lightgray;
    font-weight: bold;
}

/* Determiners */
.DT, .PDT, .WDT {
    color: lightgray;
}

/* Foreign words */
.FW {
    color: black;
    font-style: italic;
}

/* Interjections */
.UH {
    color: black;
    font-weight: bold;
}

/* Nouns */
.NN, .NNS, .NNP, .NNPS {
    color: blue;
}

/* Numbers */
.CD {
    color: black;
}

/* Particles */
.RP {
    color: gray;
    font-weight: bold;
}

/* Prepositions */
.IN {
    color: gray;
}

/* Pronouns */
.PRP, .PRP_DOLLAR, .WP, .WP_DOLLAR {
    color: deepskyblue;
}

/* Verbs */
.VB, .VBD, .VBG, .VBN, .VBP, .VBZ {
    color: green;
}
