<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">

  <title>About Write Better</title>
</head>
<body>
<br/>
<div class="container">
  <h1 align="center"><a href="/">Write Better</a></h1>
  <h3>About</h3>
  <p>This website is a <a href="http://flask.pocoo.org/">Flask</a> app that can be used to analyze writing samples. It
    is powered by <a href="http://www.nltk.org/">NLTK</a> for analysis and
    <a href="https://getbootstrap.com/">Bootstrap</a> for UI. It has the following features:
  </p>
  <ul>
    <li>Show adjectives and adverbs</li>
    <li>Show all parts of speech</li>
    <li>Count words and characters</li>
  </ul>

  <h3>Correctness</h3>
  <p>The analyzer first parses the sample into sentences and words using
    <a href="http://www.nltk.org/api/nltk.tokenize.html?highlight=word_tokenize#nltk.tokenize.word_tokenize">
      NLTK's default word tokenizer</a>.
    Then it tags the parts of speech using
    <a href="http://www.nltk.org/api/nltk.tag.html?highlight=pos_tag#nltk.tag.pos_tag">NLTK's default POS tagger</a>.
    The correctness of word count depends on the tokenizer. The correctness of parts of speech identification depends
    on both the tokenizer and the tagger.
  </p>

  <h3>Security & Privacy</h3>
  <p>This app does not have any features related to users or sessions and uses no cookies. When you submit a sample
    to be analyzed, the browser sends that data in an encrypted format to Google Cloud's servers where this app is being
    hosted. The app will be able to see the data as plain text in order to analyze it, but it is not being logged or
    stored anywhere.
  </p>

  <p>That said, no guarantees are being made and no special precautions to safeguard your data are being taken. Instead
    of directly using this website, you can always install and run this app locally by
    <a href="https://github.com/bsravanin/WriteBetter#installation">following these steps</a>.
  </p>

  <h3>Report</h3>
  <p>Report any bugs or feature requests on <a href="https://github.com/bsravanin/WriteBetter/issues">GitHub</a>. Thank
    you.
  </p>
</div>
</body>
</html>
